
.gameGridItem{
    display: block;
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    background-color: #0077be;
    margin: 0px;
  }
  
  .gameGridItem:hover{
    background-color:darkblue;
  }